<!DOCTYPE html>
{{ if eq .Site.Params.darkmode "dark" }}
<html lang="{{ .Site.LanguageCode | default .Site.Language.Lang }}" class="dark">
{{ else }}
<html lang="{{ .Site.LanguageCode | default .Site.Language.Lang }}">
{{ end }}
<head>
  {{- partial "head.html" . -}}
</head>
<body class="bg-dark">
  <header>
    {{- partial "header.html" . -}}
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <main>
          {{- block "main" . }}{{- end }}
        </main>
      </div>
      {{ if .Site.Params.widgets.display }}
      <div class="d-none d-lg-block col-lg-3">
        {{ partial "widgets.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
  <footer>
      {{- partial "footer.html" . -}}
  </footer>
</body>

</html>